#root {

}



body{
  
    background-color: rgb(1, 2, 43);
    
}

.text-title{
    color: white;
}

.logovar{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 550px;

}


.tablewish{
    color: white;
}

.app{
    margin-top: 50px;
}


.table td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.textitem{
    margin-top: 12px;
    color: white;
}
